<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="escala">
      <ion-icon name="bandage-outline"></ion-icon>
      <ion-label>Escala de Dor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sintomas">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Sintomas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="medicamentos">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Medicamentos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
