<ion-header>
  <ion-toolbar>
    <ion-title>Escala de Dor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="backgroundContent">
  <div class="humanoContent">
    <div class="humanoCabeca"></div>
  </div>
<ion-footer>
  <div class="container">
    <div></div>
    <div>
      <div class="intensidade">desconfortável</div >
      <img src="../../assets/imgs/emoji02.png" alt="" width="65%" height="65%">
    </div>
    <div>
      <div class="intensidade">angustiante</div >
      <img src="../../assets/imgs/emoji04.png" alt="" width="65%" height="65%">
    </div>
    <div>
      <div class="intensidade">intensa</div >
      <img src="../../assets/imgs/emoji06.png" alt="" width="65%" height="65%">
    </div>
    <div>
      <div class="intensidade">horrível</div >
      <img src="../../assets/imgs/emoji08.png" alt="" width="65%" height="65%">
    </div>
    <div></div>
  </div>
  <ion-item>
    <ion-range min="0" max="10" step="2" pin="true"  snaps="true" ticks="true" color="danger">
      Sem dor<img src="../../assets/imgs/emoji00.png" alt="" width="10%" height="10%" slot="start">
      <img src="../../assets/imgs/emoji10.png" alt="" width="10%" height="10%" slot="end">Indescritível
    </ion-range>
  </ion-item>
</ion-footer>
</ion-content>
